/*.exe
/*.obj
/*.class
/__pycache__
/dmaa-swift
/dmaa-swift.exp
/dmaa-swift.lib
/datamatrix-cl.h
/datamatrix.c
/datamatrix.h
/datamatrix.cs
/datamatrix.d
/DataMatrixEncoder.java
/datamatrix.js
/datamatrix.py
/datamatrix.swift
/datamatrix.cl
